.body {
  background-color: #ffd8df;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #000;
}

.project {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.scroll-fade-in {
  margin-top: 20px;
}

.circle {
  width: 150px;
  height: 150px;
}

.circle2 {
  width: 150px;
  height: 150px;
}

.text-start {
  margin-left: -10px;
}

.menu {
  padding-right: 50px;
}
